.bg-pic {
  background: url(./assets/mobile/image-footer.jpg) no-repeat;
  background-blend-mode: multiply;
  background-color: #4d96a9;
  background-size: cover;
  height: 55vh;
}

@media screen and (min-width: 1440px) {
    .bg-pic {
        background: url(./assets/desktop/image-footer.jpg) no-repeat;
        background-blend-mode: multiply;
        background-color: #4d96a9;
        background-size: cover;
      }
}